@import "../../styles/variables";

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color_white;
  border-radius: 1.6rem;
  box-shadow: 0 4px 33px rgba(0, 0, 0, 0.04);
  padding: 3.2rem;
  max-width: 409px;
  width: 100%;
}
